<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.4" package="ch.erninet.community.mycommunity" android:installLocation="auto" android:versionCode="4">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="myCommunity" android:theme="@android:style/Theme.Holo.Light" android:icon="@drawable/ic_launcher"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>